<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.dao.TeacherMapper">
    <resultMap id="BaseColumnResultMap" type="com.jzy.model.entity.BaseEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="BaseResultMap" type="com.jzy.model.entity.Teacher" extends="BaseColumnResultMap">
        <result column="teacher_work_id" property="teacherWorkId" jdbcType="VARCHAR"/>
        <result column="teacher_name" property="teacherName" jdbcType="VARCHAR"/>
        <result column="teacher_sex" property="teacherSex" jdbcType="VARCHAR"/>
        <result column="teacher_phone" property="teacherRemark" jdbcType="VARCHAR"/>
        <result column="teacher_remark" property="teacherRemark" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insertTeacher" parameterType="com.jzy.model.entity.Teacher">
        insert into teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teacherWorkId != null and teacherWorkId!=''">
                teacher_work_id,
            </if>
            <if test="teacherName != null and teacherName!=''" >
                teacher_name,
            </if>
            <if test="teacherSex != null and teacherSex!=''" >
                teacher_sex,
            </if>
            <if test="teacherPhone != null and teacherPhone!=''" >
                teacher_phone,
            </if>
            <if test="teacherRemark != null and teacherRemark!=''" >
                teacher_remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teacherWorkId != null and teacherWorkId!=''">
                #{teacherWorkId},
            </if>
            <if test="teacherName != null and teacherName!=''" >
                #{teacherName},
            </if>
            <if test="teacherSex != null and teacherSex!=''" >
                #{assistantSex},
            </if>
            <if test="teacherPhone != null and teacherPhone!=''" >
                #{teacherPhone},
            </if>
            <if test="teacherRemark != null and teacherRemark!=''" >
                #{teacherRemark},
            </if>
        </trim>
    </insert>
    <update id="updateTeacherByWorkId" parameterType="com.jzy.model.entity.Teacher">
        update teacher
        <set>
            <if test="teacherName != null  and teacherName!=''">
                teacher_name = #{teacherName,jdbcType=VARCHAR},
            </if>
            teacher_sex = #{teacherSex,jdbcType=VARCHAR},
            teacher_phone = #{teacherPhone,jdbcType=VARCHAR},
            teacher_remark = #{teacherRemark,jdbcType=VARCHAR},
        </set>
        where teacher_work_id = #{teacherWorkId}
    </update>
    <select id="getTeacherByName" resultMap="BaseResultMap">
        select * from teacher where teacher_name=#{teacherName}
    </select>
    <select id="getTeacherByWorkId" resultMap="BaseResultMap">
        select * from teacher where teacher_work_id=#{teacherId}
    </select>
    <select id="getTeacherById" resultMap="BaseResultMap">
        select * from teacher where id=#{id}
  </select>


</mapper>