<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.dao.TeacherMapper">
    <resultMap id="BaseColumnResultMap" type="com.jzy.model.entity.BaseEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="BaseResultMap" type="com.jzy.model.entity.Teacher" extends="BaseColumnResultMap">
        <result column="teacher_work_id" property="teacherWorkId" jdbcType="VARCHAR"/>
        <result column="teacher_name" property="teacherName" jdbcType="VARCHAR"/>
        <result column="teacher_sex" property="teacherSex" jdbcType="VARCHAR"/>
        <result column="teacher_phone" property="teacherRemark" jdbcType="VARCHAR"/>
        <result column="teacher_remark" property="teacherRemark" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>